.feedback {
  margin: 20px auto;
  .title {
    letter-spacing: 1px;
    cursor: default;
    padding-bottom: 20px;
  }
  .rating {
    margin-left: 5px;
    font-size: 1.3rem;
    letter-spacing: 2px;
  }
}
