.blocks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  .block {
    text-align: start;
    width: 340px;
    height: 170px;
    padding: 5px;
    .title {
      letter-spacing: 1px;
      padding-bottom: 20px;
    }
    .info {
      letter-spacing: 1px;
    }
  }
}
@media (max-width: 600px) {
  .title {
    padding-bottom: 0px;
  }
}
