.scrollBtn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.6s all;
  opacity: 0.7;
  z-index: 1;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(224, 224, 224);
  &:hover {
    filter: brightness(110%);
  }
}
.hidden {
  opacity: 0;
}
