.blocks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  .block {
    text-align: start;
    margin-top: 20px;
    width: 340px;
    height: 200px;
    padding: 5px;
    .blockTitle {
      letter-spacing: 1px;
      padding-bottom: 20px;
    }
    .blockInfo {
      letter-spacing: 1px;
    }
  }
}
