.title {
  text-align: center;
  padding: 20px 0px 40px 0px;
  cursor: default;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.description {
  margin-top: 20px;
}
