.title {
  text-align: center;
  margin: 50px 0px;
  cursor: default;
  letter-spacing: 2px;
}
.blockImages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.blockWhy {
  margin-top: 20px;
}
