.title {
  cursor: default;
  text-transform: uppercase;
  letter-spacing: 1px !important;
  width: 100%;
}
.toggles {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.toggles > * {
  height: 40px;
  margin: 5px;
}
.link {
  text-decoration: none;
  color: inherit;
}
