.clientInfo {
  padding: 10px;
  cursor: default;
  .card {
    width: 300px;
    height: 450px;
    margin-bottom: 20px;
    position: relative;
    background-color: rgb(227, 244, 255);
  }
  .clientName {
    display: flex;
    align-items: center;
  }
}
.share {
  position: absolute;
  right: 5%;
  bottom: 1%;
}
